
{% extends 'base.html'%}
        {% block content %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title> {% block title %} Demo {% endblock %} </title>    <meta name="Description" content="“SRS Info Connect” is one of the top web services & IT solutions provider companies in Agra (India).We deal in software development, web application development, SEO (search engine optimization), mobile apps development, sms apps development and many other IT related solutions.SRS Info Connect is the best .Net Training Institute in Agra, providing software courses .net and PHP etc. We are leading Training Institute in Agra provide more practical knowledge for desiring students." />
    <meta name="Keywords" content="web designing company in Agra, web development company in Agra , software development, software company in Agra, software development company in agra, SEO services, website develoment company in Agra, software development India, website designing company,SEO company in Agra,software development, web application development, SEO (search engine optimization) in Agra, mobile apps development, sms apps development in Agra India." />
<link rel="stylesheet" type="text/css" href="/static/CSS/style_sheet.css">
<script type="text/javascript" src="JS/my_script.js"></script>
  <script type="text/javascript">
      new WOW().init();
    </script>

</head><body>
	
	<section class="sec01 wow fadeInDown">
		<div class="container">
			<div class="row flex-column">
				<h4>Welcome to SRS Info Connect </h4>	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ea quia quidem perspiciatis. Nostrum at tempora ex earum quod, maiores consequatur placeat, enim harum inventore natus perferendis fugiat alias, quos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus, deserunt omnis reprehenderit repellat hic quaerat corporis, ut repudiandae asperiores cum quam voluptatibus. Temporibus eos deleniti autem a quis ut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem reiciendis eaque, enim fuga error, dolores itaque consectetur distinctio! Quaerat dolores saepe dignissimos. Voluptates distinctio accusantium, ratione velit officiis enim.</p>	
				<div class="clearfix"></div>
				<div class="pt-1"></div>
				<a href="" class="btn btn-primary">Learn More</a>
			</div>	
		</div>	
	</section>	
	<section class="sec02 wow fadeInDown" style="background-image: url('/media/IMAGES/about.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 80px 0;">
	<h4>Our Superior Services</h4>
		<div class="container">
			<div class="row">				
				<div class="clearfix"></div>
				<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a1.png" width="90" height="90" alt=""/>
				<h5>Responsive Website</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
					<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a2.png" width="90" height="90" alt=""/>
				<h5>Website Development</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
		<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a3.png" width="90" height="90" alt=""/>
				<h5>Portal Development</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
			<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a4.png" width="90" height="90" alt=""/>
				<h5>Responsive Website</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
					<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a5.png" width="90" height="90" alt=""/>
				<h5>Website Development</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
		<div class="col-xl-4">
		    <div class="gt">
				<img src="/media/IMAGES/a1.png" width="90" height="90" alt=""/>
				<h5>Portal Development</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
			</div>
		</div>
	</section>
	<section class="sec03 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-10">
					<h1>
					For Any Query or Quote	
					</h1>
					<small>At SRS Info Connect we offer you a complete internet marketing training program. This plan is prepared specially for those<br>
 who want to make great future in the field of online marketing.</small>
				</div>
				<div class="col-xl-2">
					<a href="" class="btn btn-default">Join Us</a>
				</div>
			</div>
		</div>
	</section>
	<section class="sec04 wow fadeInDown">	
		<div class="container">
		  <div class="row">
		  <div class="col-xl-12">
				<h2>What Makes us <span>DIFFERENT</span></h2>			
				<p>With our approach to Web Design, our methods continue to be proven<br>
 in a continuous challenging marketplace with delivering what we promise.</p>
			  </div>
			<div class="col-xl-7">
				<div class="col">
					<i class="fa fa-lightbulb-o"></i>
					<h3>We are creative team</h3>	
					<p>We’ll give you brand new and original creative ideas to bring your campaigns to life and as always will throw in an abundance of friendly</p>
				</div>
				
				<div class="col">
					<i class="fa fa-cog"></i>
					<h3>Five-star support team</h3>	
					<p>Our Support Forum is at your disposal at any time, 5 Star Assistance is offered within 48 hours</p>
				</div>
				<div class="col">
					<i class="fa fa-google-wallet"></i>
					<h3>Fully Integrated service</h3>	
					<p>As a leading digital agency we are able to offer a fully integrated service beyond the initial website design</p>
				</div>
				<div class="col">
					<i class="fa fa-lightbulb-o"></i>
					<h3>We are creative team</h3>	
					<p>We’ll give you brand new and original creative ideas to bring your campaigns to life and as always will throw in an abundance of friendly</p>
				</div>	
			</div>
				<div class="col-xl-5">
			  <img src="/media/IMAGES/Spidey.jpg" class="img-fluid" alt=""/> </div>
		  </div>
		</div>

	</section>
	<section class="sec05 wow fadeInDown" style="background-image: url('/media/IMAGES/mob_bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 80px 0;">
		<div class="container" >
			<div class="row" >
				<div class="col-xl-12"> 
					<h5>Responsive Design<br>
					<small>On Both Mobile & Desktop </small>
						
					</h5>				
				</div>
				<div class="clearfix"></div>
				<div class="col">
				<div class="dick">
				<i class="fa fa-code"></i>
					<h1>PREMIUM <span>DEVELOPMENT</span></h1>
					<p>An emphasis on cutting-edge design and modern usability standards</p>
					</div>	
					<div class="dick">
				<i class="fa fa-compass"></i>
					<h1>SUPER  <span>FLEXIBLE</span></h1>
					<p>Content moves freely across all screen resolutions and all devices</p>
					</div>	
					<div class="dick">
				<i class="fa fa-magic"></i>
					<h1>LESS  <span>MAINTENANCE</span></h1>
					<p>Because there will be only one layout which works for all sort of devices</p>
					</div>	
				</div> 


				<div class="col">
				<img src="/media/IMAGES/mob.png" class="img-fluid m-auto d-block">	
				</div> 
				<div class="col">
				<div class="dick">
				<i class="fa fa-mobile"></i>
					<h1>RETINA  <span>READY</span></h1>
					<p>Devices show more pixels per square inch, resulting in sharper images</p>
					</div>	
					<div class="dick">
				<i class="fa fa-android"></i>
					<h1>EXCELLENT   <span>USER EXPERIENCE</span></h1>
					<p>You ensure your customers will get a consistent experience across all devices</p>
					</div>	
					<div class="dick">
				<i class="fa fa-google"></i>
					<h1>RECOMMENDED BY   <span>GOOGLE</span></h1>
					<p>Google states that responsive web design is its recommended mobile configuration</p>
					</div>	
				</div>
			</div>	
		</div>	
	</section>
	<section class="sec06 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col">
					<i class="fa fa-trophy"> <span>99%</span>
						<h4>SATISFIED CUSTOMRES</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-code"> <span>1000+</span>
						<h4>PROJECTS DONE</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-coffee"> <span>2015+</span>
						<h4>Meetings Completed</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-user"> <span>12+</span>
						<h4>Team Member</h4></i>
				</div>
						<div class="col">
						<i class="fa fa-clock-o"> <span>365247</span>
						<h4>Happy Hours</h4></i>
				</div>
			</div>	
		</div>	
	</section>
	<section class="sec07 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h2>Our Valuable Clients</h2>	
				</div>
				<div class="pb-5"></div>
				<div class="col">
					<div id="thumbnail-slider">
                <div class="inner">
                    <ul>
      
                        <li>
                            <a class="thumb" href="/media/img/2.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/3.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/4.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/5.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/6.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/7.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/8.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/9.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/10.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/11.jpg"></a>
                        </li>
                        <li>
                            <a class="thumb" href="/media/img/12.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
				</div>
			</div>	
		</div>
	</section>
	<section class="sec09 wow fadeInDown" style="background-image: url('/media/IMAGES/our.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 80px 0;">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
						<h1>Lets Get Started<br>
					your project</h1>
					<p>We will help you to achieve your goals and to grow your business.</p>
					<a href="" class="btn btn-default">Start Now</a>
				</div>
			</div>	
		</div>	
	</section>
	<section class="sec08 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h2>What Our Customer's <span>Say</span></h2>	
				</div>
				<div class="clearfix"></div>
				<div class="col">
					<div class="spa">
					<img src="/media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>Every minor detail has been taken care of. Clean, Modern Design can be
					used for any type of website. </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="/media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>Every minor detail has been taken care of. Clean, Modern Design can be
					used for any type of website. </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="/media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>Every minor detail has been taken care of. Clean, Modern Design can be
					used for any type of website. </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="/media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>Every minor detail has been taken care of. Clean, Modern Design can be
					used for any type of website. </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="/media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>Every minor detail has been taken care of. Clean, Modern Design can be
					used for any type of website. </p>
					</div>
				</div>
			</div>
		</div>	
	</section>	
	
</body>
</html>
  {% endblock %}