
<footer class="wow fadeInDown">
		<div class="container">
			<div class="row flex-row">
				<div class="col-xl-2">
			    <a href="{% url 'index' %}"><img src="/media/IMAGES/logo2.png" class="img-fluid" alt=""/> </a></div>
				<div class="col-xl-8 align-self-center text-center">
					<a href="{% url 'index' %}">Home</a>
					<a href="{% url 'About' %}">About Us</a>
					<a href="{% url 'Web_design' %}">Web Designing</a>
					<a href="{% url 'Why_Choose' %}">Why Choose</a>
					{% comment %} <a href="web_hoting.html">Web Hosting</a> {% endcomment %}
					<a href="{% url 'Seo' %}">SEO</a>
					<a href="{% url 'Portfolio' %}">Porfolio</a>
					<a href="{% url 'Service' %}">Service</a>
					<a href="{% url 'Contact' %}">Contact Us</a>					
				</div>
				<div class="col-xl-2 align-self-center text-right">
							<a href="https://www.facebook.com/Srsinfoconnect" target="_blank"><i class="fa fa-facebook"></i></a>	
						<a href="https://twitter.com/srs_info_connec"><i class="fa fa-twitter"></i></a>	
						<a href=""><i class="fa fa-google-plus"></i></a>	
						<a href=""><i class="fa fa-linkedin"></i></a>
				</div>
		  </div>
		</div>
	</footer>