

{% extends 'base.html'%}
    {% block content %}
<html>
<head>
<title> {% block title %} Homepage {% endblock %} </title>
</head>
<body>
	
    <div id="videoCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" > <!-- Set data-interval to 2000 milliseconds (2 seconds) -->
        <div class="Slider-container">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/IMAGES/banner2.jpg" class="d-block w-100" alt="">  
                    <div class="video">
                        
                    </div>
                </div>
	
                <div class="carousel-item">
                    <img src="/media/IMAGES/banner1.jpg" class="d-block w-100" alt="...">
                    <div class="video">
                        
                    </div>
                </div>
                <div class="carousel-item"> <!-- Third slide -->
                    <img src="/media/IMAGES/banner4.jpg" class="d-block w-100" alt="...">
                    <div class="video">
                        
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    

<!-- Slider open -->
 

<!-- Slider Close -->
 <!-- container Open-->
  
	<section class="sec01 wow fadeInDown">
		<div class="container">
			<div class="row flex-column">
				<h4>Welcome to SRS Info Connect </h4>	
				<p>SRS Info Connect established in 2012 with the objective to fulfill the customer satisfaction for the Software & Website Development and Also Provide best services for the maintenance, placements, Data Processing & training assignments. The other services included Data Digitization, Database Compilation and Management, with a quality that always exceeded our customers' expectations.
				<br>		
				<br>
 					From the beginning, we are conducting business globally and also making the system appropriate and user would trustworthy to the organization. SRS Info Connect, the pioneers in designing and delivering Website, Web-Based Software Solutions, Data Digitization & Processing for a different area of sectors.</p>	
				<div class="clearfix"></div>
				<div class="pt-1"></div>
				<a href="{% url 'index' %}" class="btn btn-primary">Learn More</a>
			</div>	
		</div>	
	</section>	
   <!-- container Close--> 

     <!-- container 2 --> 
	<section class="sec02 wow fadeInDown">
	<h4>Our Superior Services</h4>
		<div class="container">
			<div class="row">				
				<div class="clearfix"></div>
				<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a1.png" width="90" height="90" alt=""/>
				<h5>Responsive Website</h5>
				<p>
	Building mobile-friendly websites and applications.</p>
				</div> </div>
					<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a2.png" width="90" height="90" alt=""/>
				<h5>Website Development</h5>
				<p>	
	Web application are stored on a server and delivered to users. </p>
				</div> </div>
		<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a3.png" width="90" height="90" alt=""/>
				<h5>Portal Development</h5>
				<p>
	
	We provide business centric Web Portal to our clients.</p>
				</div> </div>
			<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a4.png" width="90" height="90" alt=""/>
				<h5>Software Development</h5>
				<p>
	
	Providing convergence of development and integration.</p>
				</div> </div>
<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a6.png" width="90" height="90" alt=""/>
				<h5>Domain Registration</h5>
				<p>
	
	A system of easy-to-remember Internet addresses..</p>
				</div> </div>
					<div class="col-xl-4">
		    <div class="gt">
				<img src="media/IMAGES/a5.png" width="90" height="90" alt=""/>
				<h5>SEO / SMO</h5>
				<p>
	
	SEO achieving and maintaining high search engine rankings.</p>
				</div> </div>
		
			</div>
		</div>
	</section>
 <!-- container 3 --> 
	<section class="sec03 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-10">
					<h1>
					For Any Query or Quote	
					</h1>
					<small>At SRS Info Connect we offer you a complete internet marketing training program. This plan is prepared specially for those<br>
 who want to make great future in the field of online marketing.</small>
				</div>
				<div class="col-xl-2">
					<a href="" class="btn btn-default">Join Us</a>
				</div>
			</div>
		</div>
	</section>
	<section class="sec04 wow fadeInDown">	
		<div class="container">
		  <div class="row">
		  <div class="col-xl-12">
				<h2>What Makes us <span>DIFFERENT</span></h2>			
				<p>With our approach to Web Design, our methods continue to be proven<br>
 in a continuous challenging marketplace with delivering what we promise.</p>
			  </div>
			<div class="col-xl-7">
				<div class="col">
					<i class="fa fa-lightbulb-o"></i>
					<h3>We are creative team</h3>	
					<p>We’ll give you brand new and original creative ideas to bring your campaigns to life and as always will throw in an abundance of friendly</p>
				</div>
				
				<div class="col">
					<i class="fa fa-cog"></i>
					<h3>Five-star support team</h3>	
					<p>Our Support Forum is at your disposal at any time, 5 Star Assistance is offered within 48 hours</p>
				</div>
				<div class="col">
					<i class="fa fa-google-wallet"></i>
					<h3>Fully Integrated service</h3>	
					<p>As a leading digital agency we are able to offer a fully integrated service beyond the initial website design</p>
				</div>
				<div class="col">
					<i class="fa fa-lightbulb-o"></i>
					<h3>We are creative team</h3>	
					<p>We’ll give you brand new and original creative ideas to bring your campaigns to life and as always will throw in an abundance of friendly</p>
				</div>	
			</div>
				<div class="col-xl-5">
			  <img src="media/IMAGES/Spidey.jpg" class="img-fluid" alt=""/> </div>
		  </div>
		</div>
	</section>
<!-- container 4 --> 
<section class="sec05 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h5>Responsive Design<br>
					<small>On Both Mobile & Desktop </small>
						
					</h5>				
				</div>
				<div class="clearfix"></div>
				<div class="col">
				<div class="dick">
				<i class="fa fa-code"></i>
					<h1>PREMIUM <span>DEVELOPMENT</span></h1>
					<p>An emphasis on cutting-edge design and modern usability standards</p>
					</div>	
					<div class="dick">
				<i class="fa fa-compass"></i>
					<h1>SUPER  <span>FLEXIBLE</span></h1>
					<p>Content moves freely across all screen resolutions and all devices</p>
					</div>	
					<div class="dick">
				<i class="fa fa-magic"></i>
					<h1>LESS  <span>MAINTENANCE</span></h1>
					<p>Because there will be only one layout which works for all sort of devices</p>
					</div>	
				</div>
				<div class="col">
				<img src="media/IMAGES/mob.png" class="img-fluid m-auto d-block">	
				</div>
				<div class="col">
				<div class="dick">
				<i class="fa fa-mobile"></i>
					<h1>RETINA  <span>READY</span></h1>
					<p>Devices show more pixels per square inch, resulting in sharper images</p>
					</div>	
					<div class="dick">
				<i class="fa fa-android"></i>
					<h1>EXCELLENT   <span>USER EXPERIENCE</span></h1>
					<p>You ensure your customers will get a consistent experience across all devices</p>
					</div>	
					<div class="dick">
				<i class="fa fa-google"></i>
					<h1>RECOMMENDED BY   <span>GOOGLE</span></h1>
					<p>Google states that responsive web design is its recommended mobile configuration</p>
					</div>	
				</div>
			</div>	
		</div>	
	</section> 
	
<!-- container 4 --> 
	<section class="sec06 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col">
					<i class="fa fa-trophy"> <span>99%</span>
						<h4>SATISFIED CUSTOMRES</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-code"> <span>1000+</span>
						<h4>PROJECTS DONE</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-coffee"> <span>2015+</span>
						<h4>Meetings Completed</h4></i>
				</div>
				<div class="col">
						<i class="fa fa-user"> <span>12+</span>
						<h4>Team Member</h4></i>
				</div>
						<div class="col">
						<i class="fa fa-clock-o"> <span>365247</span>
						<h4>Happy Hours</h4></i>
				</div>
			</div>	
		</div>	
	</section>
<!-- container 5 --> 
	<section class="sec07 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h2>Our Valuable Clients</h2>	
				</div>
				<div class="pb-5"></div>
				<div class="col">
					<div id="thumbnail-slider">
                <div class="inner">
                    <ul>
      
                        <li>
							<div class="ikl"><img src="media/img/2.jpg"></div>
                        </li>
                        <li>
                           <div class="ikl"><img src="media/img/3.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/4.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/5.jpg"></div>
                        </li>
                        <li>
                           <div class="ikl"><img src="media/img/6.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/7.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/8.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/9.jpg"></div>
                        </li>
                        <li>
                             <div class="ikl"><img src="media/img/10.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/11.jpg"></div>
                        </li>
                        <li>
                            <div class="ikl"><img src="media/img/12.jpg"></div>
                        </li>
                    </ul>
                </div>
            </div>
				</div>
			</div>	
		</div>
	</section>
<!-- container 6 --> 
	<section class="sec09 wow fadeInDown">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
						<h1>Lets Get Started<br>
					your project</h1>
					<p>We will help you to achieve your goals and to grow your business.</p>
					<a href="" class="btn btn-default">Start Now</a>
				</div>
			</div>	
		</div>	
	</section>
	<section class="sec08 wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h2>What Our Customer's <span>Say</span></h2>	
				</div>
				<div class="clearfix"></div>
				<div class="col">
					<div class="spa">
					<img src="media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Rahuls Kushwah</span><br>
							<p>Media Agency</p>
				</div>	
				<p>"SRS Info Connect has enabled us to generate a tremendous clientele with the remarkable website it has designed for my company. From designing an engaging website to administering all its features and tools,  </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Minal Sharma</span><br>
							<p>Excellent Service</p>
				</div>	
				<p>"Managing trips & perks for the tourists has never been so exhilarating as we have touched the highest ebbs in our endeavors.SRS Info Connect  has built the most effective web solution that helped us in serving more clients ..." </p>
					</div>
				</div>
				<div class="col">
					<div class="spa">
					<img src="media/IMAGES/rf.png" class="img-fluid mx-auto d-block">
						<div class="clearfix"><span>Spidey Kushwah</span><br>
							<p>Ontime Project</p>
				</div>	
				<p>"SRS Info Connect listened carefully to my needs and delivered a fantastic website within a very short timeframe.I am very impressed with the website I received from webexperttechnology.com By the support of their technical team..."

 </p>
					</div>
				</div>
				
				
			</div>
		</div>	
	</section>
</body>
</html>
    {% endblock %}
