{% extends 'base.html'%}
        {% block content %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title> {% block title %} Portfolio {% endblock %} </title>    <meta name="Description" content="“SRS Info Connect” is one of the top web services & IT solutions provider companies in Agra (India).We deal in software development, web application development, SEO (search engine optimization), mobile apps development, sms apps development and many other IT related solutions.SRS Info Connect is the best .Net Training Institute in Agra, providing software courses .net and PHP etc. We are leading Training Institute in Agra provide more practical knowledge for desiring students." />
    <meta name="Keywords" content="web designing company in Agra, web development company in Agra , software development, software company in Agra, software development company in agra, SEO services, website develoment company in Agra, software development India, website designing company,SEO company in Agra,software development, web application development, SEO (search engine optimization) in Agra, mobile apps development, sms apps development in Agra India." />
<link rel="stylesheet" type="text/css" href="/static/CSS/style_sheet.css">
<script type="text/javascript" src="/static/JS/my_script.js"></script>
  <script type="text/javascript">
      new WOW().init();
    </script>

</head><body>
	
	<section class="port wow fadeInDown">
		<div class="container">
			<div class="row flex-row">
				<div class="col-xl-12 align-self-center">
					<h1>Our Portfolio</h1>
				</div>
			</div>
		</div>
	</section>	
	<section class="portf wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="toolbar mb2 mt2">
  <button class="btn fil-cat" href="" data-rel="all">All</button>
  <button class="btn fil-cat" data-rel="web">Websites</button>
  <button class="btn fil-cat" data-rel="flyers">Flyers</button>
  <button class="btn fil-cat" data-rel="bcards">Business Cards</button>
</div> 
 
<div style="clear:both;"></div>   
<div id="portfolio">
  <div class="tile scale-anm web all">
        <img src="/media/IMAGES/c1.png" alt="" />
       
  </div>
  <div class="tile scale-anm bcards all">
    <img src="/media//IMAGES/c2.png" alt="" />
  </div>

  <div class="tile scale-anm web all">
      <img src="/media/IMAGES/c4.png" alt="" />
  </div>
  <div class="tile scale-anm flyers all">
        <img src="/media//IMAGES/c5.png" alt="" />
  </div>
    <div class="tile scale-anm bcards all">
    <img src="/media//IMAGES/c2.png" alt="" />
  </div>

    <div class="tile scale-anm flyers all">
        <img src="/media//IMAGES/zbazzar.jpg" alt="" />
  </div>

</div>

<div style="clear:both;"></div>   
			</div>
		</div>	
	</section>
	
</body>
</html>
  {% endblock %}