{% extends 'base.html'%}
{% block content %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title> {% block title %} Web- hoisting{% endblock %} </title>    <meta name="Description" content="“SRS Info Connect” is one of the top web services & IT solutions provider companies in Agra (India).We deal in software development, web application development, SEO (search engine optimization), mobile apps development, sms apps development and many other IT related solutions.SRS Info Connect is the best .Net Training Institute in Agra, providing software courses .net and PHP etc. We are leading Training Institute in Agra provide more practical knowledge for desiring students." />
    <meta name="Keywords" content="web designing company in Agra, web development company in Agra , software development, software company in Agra, software development company in agra, SEO services, website develoment company in Agra, software development India, website designing company,SEO company in Agra,software development, web application development, SEO (search engine optimization) in Agra, mobile apps development, sms apps development in Agra India." />
<link rel="stylesheet" type="text/css" href="/static/CSS/style_sheet.css">
<script type="text/javascript" src="/static/JS/my_script.js"></script>
  <script type="text/javascript">
      new WOW().init();
    </script>

</head><body>
	
	<section class="host wow fadeInDown" style="background-image: url('/media/IMAGES/bg2.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 40px 0;">
		<div class="container">
			<div class="row flex-row">
				<div class="col-xl-12 align-self-center">
					<h1>Reliable, Flexible, Scalable Solution</h1>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="host_txt wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					SRS Info Connect  provides cost effective VPS cloud hosting. You can reduce your capital expenditures, IT spending and enjoy great service support as well with VPS Cloud Hosting .<br>
<br>

We also offer customization and configuration for all your business needs and are committed to maintain highest service levels and reliable client-centric approach.
			<br>
<br>
					<p><i class="fa fa-caret-right"> </i> Dedicated servers for your data</p>
					<p><i class="fa fa-caret-right"> </i> Low capital expenditures</p>
					<p><i class="fa fa-caret-right"> </i> Optimal IT investment</p>
					<p><i class="fa fa-caret-right"> </i> More storage</p>
					<p><i class="fa fa-caret-right"> </i> Easy-to-use management tools</p>
					<p><i class="fa fa-caret-right"> </i> Easy administration</p>
					<p><i class="fa fa-caret-right"> </i> Database management</p>
					<hr>
				</div>	
			</div>
		</div>
	</section>
	<section class="web_txt">
		<div class="container">
			<div class="row">
		<div class="col-xl-12">		<p>Dell PowerEdge R720xd – Dual Hex Core, 384GB RAM, 12x600GB RAID 10 - as required</p></div>
				<div class="clearfix"></div>
				<div class="col">
					<div class="pack">
						<h1>Dedicated Linux Server Instance</h1>
						<div class="rup">
							<h4>INR <span>7000</span></h4>
							<div class="clearfix"></div>							
						</div>
						<ul>
								<li>CPU – 2 Core</li>
								<li>RAM – 2 GB</li>
								<li>HDD – 30 GB (SAS, 15,000rpm)</li>
								<li>RAID Backup – RAID 10</li>
								<li>Bandwidth : 50 GB</li>
								<li>Operating System – CentOS</li>
								<li>Database – My SQL</li>
								<li>Location – India</li>
							</ul>
						<div class="bton text-center">
							<a href="" class="btn btn-default">
								Order
							</a>
						</div>
					</div>	
				</div>

				<div class="col">
					<div class="pack">
						<h1>Dedicated Linux Server Instance</h1>
						<div class="rup">
							<h4>INR <span>19500</span></h4>
							<div class="clearfix"></div>							
						</div>
						<ul>
									<li>CPU – 2 Core</li>
								<li>RAM – 2 GB</li>
								<li>HDD – 30 GB (SAS, 15,000rpm)</li>
								<li>RAID Backup – RAID 10</li>
								<li>Bandwidth : 50 GB</li>
								<li>Operating System – CentOS</li>
								<li>Database – My SQL</li>
								<li>Location – India</li>
							</ul>
						<div class="bton text-center">
							<a href="" class="btn btn-default">
								Order
							</a>
						</div>
					</div>	
				</div>
				<div class="col">
					<div class="pack">
						<h1>Dedicated Linux Server Instance</h1>
						<div class="rup">
							<h4>INR <span> 34900</span></h4>
							<div class="clearfix"></div>							
						</div>
						<ul>
								<li>CPU – 2 Core</li>
								<li>RAM – 4 GB</li>
								<li>HDD – 30 GB (SAS, 15,000rpm)</li>
								<li>RAID Backup – RAID 10</li>
								<li>Bandwidth : 100 GB</li>
								<li>Operating System – CentOS</li>
								<li>Database – My SQL</li>
								<li>Location – India</li>
							</ul>
						<div class="bton text-center">
							<a href="" class="btn btn-default">
								Order
							</a>
						</div>
					</div>	
				</div>
				</div>
			</div>
	</section>
	
</body>
</html>
  {% endblock %}