{% extends 'base.html'%}
        {% block content %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<title> {% block title %} Why-choose {% endblock %} </title>    <meta name="Description" content="“SRS Info Connect” is one of the top web services & IT solutions provider companies in Agra (India).We deal in software development, web application development, SEO (search engine optimization), mobile apps development, sms apps development and many other IT related solutions.SRS Info Connect is the best .Net Training Institute in Agra, providing software courses .net and PHP etc. We are leading Training Institute in Agra provide more practical knowledge for desiring students." />
    <meta name="Keywords" content="web designing company in Agra, web development company in Agra , software development, software company in Agra, software development company in agra, SEO services, website develoment company in Agra, software development India, website designing company,SEO company in Agra,software development, web application development, SEO (search engine optimization) in Agra, mobile apps development, sms apps development in Agra India." />
<link rel="stylesheet" type="text/css" href="CSS/style_sheet.css">
<script type="text/javascript" src="JS/my_script.js"></script>
  <script type="text/javascript">
      new WOW().init();
    </script>
</head>
<body>
<section class="about wow fadeInDown w-100" style="background-image: url('/media/IMAGES/why.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 60px 0;">
    <div class="container">
        <div class="row flex-row">
            <div class="col-xl-12 align-self-center">
                <h2 style="color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.7); text-align:center; font-weight:bold; font-size:50px">Why Choose Us</h2>
            </div>
        </div>
    </div>
</section>
	<section class="choose wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="text-center">We offer Mobile Applications with the finest blend Of UX and functionality. <br></p>
					<p class="text-center">
						Leave the usual behind and step ahead with our advanced mobile app solutions to connect with customers on the go.</p>
						<hr>
				</div>
				<div class="col-lg-4 bl">
					<i class="fa fa-android"></i> <h1>Android App Development</h1>
					<p>With over a million applications running on Android, you cannot afford to miss the latest trends in the android mobile app development for your business. Currently, a major share of mobile phone runs on Android operating system, with over 25 million downloads.</p>
				</div>
				<div class="col-lg-4 bl">
					<i class="fa fa-apple"></i> <h1>IOS App Development</h1>
					<p>As a company equipped with skilled professionals and right tools that widen the possibilities of iPhone App designing, we offer unparalleled user experience, in compliance with world-class technological advancement.</p>
				</div>
				<div class="col-lg-4">
					<i class="fa fa-internet-explorer"></i> <h1>Custom Web Development</h1><p>Our proficient team members shape up the idea you have woven and hand you a website that supports your budget and turn all your business dreams to reality.</p>
				</div>
				<div class="col-lg-4 blt">
					<i class="fa fa-cart-plus"></i> <h1>E-Commerce </h1>
					<p>Give wings to your e-store dreams with our e-commerce web design solutions enriched with the power of Magento, WordPress, Joomla, Drupal, Zen cart, etc.</p>
				</div>
				<div class="col-lg-4 blt">
					<i class="fa fa-tag"></i> <h1>CMS</h1>
					<p>Manage your website with our cost-effective CMS solutions. Our CMS website solutions make it easy for a person without any programming skills to manage website.</p>
				</div>
				<div class="col-lg-4 blt1">
					<i class="fa fa-user"></i> <h1>Portal Web Development</h1><p>We leverage upon the expertise and skills of our team to build efficient multi-vendor marketplaces that are customizable, mobile-friendly, secure, and affordable for all the kinds of industries.</p>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>
  {% endblock %}